[submodule "ref-logistics-app"]
	path = ref-logistics-app-backend
	url = https://github.com/ONDC-Official/ref-logistics-app
	branch = main
[submodule "ref-logistics-app-frontend"]
	path = ref-logistics-app-frontend
	url = https://github.com/ONDC-Official/ref-logistics-app-frontend
	branch = main
[submodule "ref-logistics-app-protocol"]
	path = ref-logistics-app-protocol
	url = https://github.com/ONDC-Official/ref-logistics-app-protocol
	branch = main	
